:root {
    --yellow: hsl(47 88% 63%);
    --white: hsl(0 0% 100%);
    --grey: hsl(0 0% 50%);
    --black: hsl(0 0% 7%);
}

html {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
